In [1]:
import pandas as pd

In [2]:
df_origin = pd.read_csv('./data/beers.csv').drop('Unnamed: 0', axis=1)

In [3]:
len(df_origin)

2410

In [4]:
df_origin.head()

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [5]:
df_origin.describe()

               abv          ibu           id   brewery_id       ounces
count  2348.000000  1405.000000  2410.000000  2410.000000  2410.000000
mean      0.059773    42.713167  1431.113278   231.749793    13.592241
std       0.013542    25.954066   752.459975   157.685604     2.352204
min       0.001000     4.000000     1.000000     0.000000     8.400000
25%       0.050000    21.000000   808.250000    93.000000    12.000000
50%       0.056000    35.000000  1453.500000   205.000000    12.000000
75%       0.067000    64.000000  2075.750000   366.000000    16.000000
max       0.128000   138.000000  2692.000000   557.000000    32.000000

In [6]:
df = df_origin.dropna(how='any')

In [7]:
df.head()

,abv,ibu,id,name,style,brewery_id,ounces
14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
21,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4
22,0.079,45.0,1024,Fireside Chat,Winter Warmer,368,12.0
24,0.044,42.0,876,Bitter American,American Pale Ale (APA),368,12.0
25,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0

In [8]:
df.describe()

               abv          ibu           id   brewery_id       ounces
count  1403.000000  1403.000000  1403.000000  1403.000000  1403.000000
mean      0.059919    42.739843  1413.888810   223.375624    13.510264
std       0.013585    25.962692   757.572191   150.387510     2.254112
min       0.027000     4.000000     1.000000     0.000000     8.400000
25%       0.050000    21.000000   771.000000    95.500000    12.000000
50%       0.057000    35.000000  1435.000000   198.000000    12.000000
75%       0.068000    64.000000  2068.500000   350.000000    16.000000
max       0.125000   138.000000  2692.000000   546.000000    32.000000

In [9]:
len(df['name'].unique())

1326

In [10]:
import util

In [11]:
name_dict = util.get_unique_dict(df['name'])
df_name = util.get_df(df['name'], name_dict, 'name')
df_name.index = df['name'].index

In [12]:
len(name_dict)

1326

In [13]:
style_dict = util.get_unique_dict(df['style'])
df_style = util.get_df(df['style'], style_dict, 'style')
df_style.index = df['style'].index

In [14]:
len(style_dict)

90

In [15]:
df_style.head()

    style
14      0
21      1
22      2
24      0
25      3

In [16]:
df_learn = pd.concat([
    df['abv'],
    df['ibu'],
    df_name['name'],
    df_style['style'],
], axis=1, sort=True)

In [17]:
df_learn.head()

      abv   ibu  name  style
14  0.061  60.0     0      0
21  0.099  92.0     1      1
22  0.079  45.0     2      2
24  0.044  42.0     3      0
25  0.049  17.0     4      3

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier as KNC

In [19]:
def get_neigh(X, y):
    (X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.1, random_state=3)
    neigh = KNC(n_neighbors=5)
    return neigh.fit(X_train, y_train), neigh.score(X_test, y_test)

Predict style from abv and ibu

In [20]:
X_style = df_learn.drop(['name', 'style'], axis=1).values
y_style = df_learn['style'].values

In [21]:
model, score = get_neigh(X_style, y_style)

In [22]:
score

0.40425531914893614

In [23]:
abv = 0.075
ibu = 45.6
pred = model.predict([
    (abv, ibu)
])
style_idx = pred[0]
print(style_idx)

0

In [24]:
style_name = util.get_unique_value(style_idx, style_dict)
print(style_name)

American Pale Ale (APA)

Predict name from abv, ibu and style

In [25]:
X_name = df_learn.drop(['name'], axis=1).values
y_name = df_learn['name'].values

In [26]:
model_n, score_n = get_neigh(X_name, y_name)

In [27]:
score_n

0.04964539007092199

In [28]:
style = style_idx
pred = model_n.predict([
    (abv, ibu, style)
])
name_idx= pred[0]
print(name_idx)

1057

In [29]:
name = util.get_unique_value(name_idx, name_dict)
print(name)

Pine Belt Pale Ale

In [30]:
beer = util.show_recommemd_beer(pred, name_dict, style_dict, df)
print(beer)

Pandas(Index=1954, abv=0.065, ibu=45.0, id=2387, name='Pine Belt Pale Ale', style='American Pale Ale (APA)', brewery_id=118, ounces=12.0)
style_id 0
Pandas(Index=1966, abv=0.065, ibu=45.0, id=45, name='Pine Belt Pale Ale', style='American Pale Ale (APA)', brewery_id=118, ounces=16.0)
style_id 0
None

In [31]:
for row in df.itertuples():
    if row.style == style_name:
        print(row.abv, row.ibu, row.name)

0.061 60.0 Bitter Bitch
0.044 42.0 Bitter American
0.044 42.0 Bitter American (2011)
0.042 42.0 A Beer
0.05 35.0 Oatmeal PSA
0.053 36.0 Klickitat Pale Ale
0.053 40.0 Freeride APA
0.055 28.0 Poleeko Gold Pale Ale (2009)
0.06 55.0 Sky High Rye
0.06 43.0 Naked Pig Pale Ale
0.044 38.0 Field 41 Pale Ale
0.049 28.0 Pamola Xtra Pale Ale
0.058 45.0 Fenway American Pale Ale
0.053 20.0 Steel Rail Extra Pale Ale
0.053 43.0 Jack Pine Savage
0.055 45.0 Jalapeno Pale Ale
0.058 44.0 Aftermath Pale Ale
0.046 35.0 834 Happy As Ale
0.059 60.0 Full Nelson Pale Ale
0.059 60.0 Full Nelson Pale Ale (2010)
0.053 45.0 Kindler Pale Ale
0.049 35.0 Hazed & Infused
0.057 35.0 Hoopla Pale Ale
0.049 35.0 Hazed & Infused (2010)
0.052000000000000005 17.0 Polar Pale Ale
0.055 40.0 Pale Alement
0.055 40.0 Pale Alement
0.056 36.0 Mucho Aloha Hawaiian Pale Ale
0.056 55.0 Caldera Pale Ale
0.056 55.0 Caldera Pale Ale (2010)
0.056 55.0 Caldera Pale Ale (2009)
0.056 55.0 Caldera Pale Ale (2005)
0.056 55.0 Caldera Pale Ale (2007)
0.056 55.0 Caldera Pale Ale (2011)
0.051 36.0 Elliott's Phoned Home Pale Ale
0.052000000000000005 42.0 Ray Ray’s Pale Ale
0.055 30.0 Pail Ale
0.06 46.0 Neomexicanus Native
0.05 40.0 Mirror Pond Pale Ale
0.044 45.0 Bravo Four Point
0.052000000000000005 26.0 Striped Bass Pale Ale
0.05 32.0 Iron Horse Pale Ale
0.063 55.0 Trail Head
0.057 36.0 Brass Knuckle Pale Ale
0.065 45.0 Fremont Summer Ale
0.056 30.0 Universale Pale Ale
0.056 36.0 Good People Pale Ale
0.055 40.0 Mountain Rescue Pale Ale
0.054000000000000006 30.0 312 Urban Pale Ale
0.054000000000000006 30.0 312 Urban Pale Ale
0.055 35.0 Lakefire Rye Pale Ale
0.052000000000000005 49.0 Commotion APA
0.053 48.0 483 Pale Ale
0.053 48.0 483 Pale Ale (2010)
0.05 30.0 Pablo Beach Pale Ale
0.057 44.0 Wild Trail Pale Ale
0.06 54.0 Flying Jenny Extra Pale Ale
0.06 54.0 Flying Jenny Extra Pale Ale (2012)
0.05 35.0 Grind Line
0.056 55.0 Capital Trail Pale Ale
0.07 68.0 The Power of Zeus
0.045 32.0 The 12th Can™
0.06 50.0 Pale Dog
0.054000000000000006 45.0 Day Tripper Pale Ale
0.055 42.0 Power & Light
0.058 58.0 Tribute
0.053 28.0 People's Pale Ale
0.055 37.0 Thunder Ann
0.05 50.0 Fox Tail Gluten Free Ale
0.055 40.0 Weekend Warrior Pale Ale
0.055 50.0 Eddy Out Pale Ale
0.057 40.0 Peach Pale Ale
0.057 47.0 Peacemaker Pale Ale
0.05 40.0 SPRYE
0.066 44.0 Manzanita Pale Ale
0.037000000000000005 53.0 Back in the Saddle Rye Pale Ale
0.054000000000000006 42.0 Mauna Kea Pale Ale
0.048 44.0 El Conquistador Extra Pale Ale
0.052000000000000005 50.0 Oneida
0.057 29.0 Cardinal Pale Ale
0.051 31.0 Jam Session
0.063 42.0 Three Skulls Ale Pale Ale
0.048 35.0 Slow Ride
0.05 45.0 Boji Blue Pale Ale
0.065 65.0 Dale's Pale Ale
0.065 65.0 Dale's Pale Ale
0.065 65.0 Dale's Pale Ale
0.065 65.0 Dale's Pale Ale (10 Year Anniversary)
0.065 65.0 Dale's Pale Ale (2012)
0.065 65.0 Dale's Pale Ale (2011)
0.065 65.0 Dale's Pale Ale (2010)
0.065 65.0 Dale's Pale Ale
0.065 65.0 Dale's Pale Ale (2008)
0.065 65.0 Dale's Pale Ale (2006)
0.065 65.0 Dale's Pale Ale (2004)
0.065 65.0 Dale's Pale Ale (2003)
0.065 65.0 Dale's Pale Ale (2002)
0.065 65.0 Dale's Pale Ale
0.065 65.0 Dale's Pale Ale
0.055 55.0 Overgrown American Pale Ale
0.04 39.0 Ozark American Pale Ale
0.053 48.0 Stimulator Pale Ale
0.042 35.0 Rodeo Rye Pale Ale
0.048 35.0 Payette Pale Ale
0.05 40.0 Veteran’s Pale Ale (VPA)
0.057 31.0 Pisgah Pale Ale
0.054000000000000006 45.0 Mazzie
0.057 68.0 Over the Rail Pale Ale
0.058 60.0 Pride of Texas Pale Ale
0.05 40.0 Consilium
0.055 40.0 Fist City
0.055 42.0 Pure Fury
0.043 45.0 Zen
0.055 60.0 Hop Bomber Rye Pale Ale
0.052000000000000005 40.0 Saint Archer Pale Ale
0.055 45.0 Devil’s Ale
0.055 45.0 American Idiot Ale (2012)
0.055 45.0 Devil’s Ale (2010)
0.06 53.0 Humulus Nimbus Super Pale Ale
0.056 37.0 Sierra Nevada Pale Ale
0.056 37.0 Sierra Nevada Pale Ale
0.047 50.0 Sensi Harvest
0.051 40.0 Phoenix Pale Ale
0.06 55.0 Snow King Pale Ale
0.052000000000000005 32.0 Snake River Pale Ale
0.052000000000000005 32.0 Hell-Diver Pale Ale
0.058 60.0 Devil's Harvest Extra Pale Ale
0.058 60.0 Devil's Harvest Extra Pale Ale
0.065 45.0 Pine Belt Pale Ale
0.065 45.0 Pine Belt Pale Ale
0.065 65.0 Third Eye Enlightened Pale Ale
0.054000000000000006 33.0 Point Cascade Pale Ale (2013)
0.054000000000000006 33.0 Point Cascade Pale Ale
0.053 49.0 Extra Pale Ale
0.047 55.0 Hopvale Organic Ale
0.056 50.0 Osiris Pale Ale
0.056 50.0 Osiris Pale Ale (2010)
0.056 35.0 Stump Knocker Pale Ale
0.047 42.0 RecreationAle
0.052000000000000005 16.0 Bronx Summer Pale Ale
0.063 50.0 Bronx Pale Ale
0.052000000000000005 35.0 Surfrider
0.054000000000000006 37.0 Pale
0.055 37.0 Voodoo Bengal Pale Ale
0.055 52.0 Greenville Pale Ale
0.057 36.0 Persnickety Pale
0.051 36.0 Sidekick Extra Pale Ale
0.04 34.0 Cutthroat Pale Ale
0.04 29.0 WYLD Extra Pale Ale
0.056 41.0 Paddy Pale Ale
0.051 45.0 Alpha Ale
0.06 50.0 Worthy Pale
0.055 40.0 Silverback Pale Ale